<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row style="align-items: center;">
        <ion-col>
          <ion-title>
            Fortschritt
          </ion-title>
        </ion-col>
        <ion-col size="3">
          <ion-label style="color: grey;">{{userString}}</ion-label>
          <ion-button size=small style="float: right;" (click)="logout()">
            Logout
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-label style="font-size: large; font-weight: bold; padding: 10px;">
    Quantitative Merkmale
  </ion-label>
  <ion-list id="progressList"></ion-list>
  <br>
  <ion-label style="font-size: large; font-weight: bold; padding: 10px;">
    Qualitative Merkmale
  </ion-label>
  <ion-list id="quality-list"></ion-list>
</ion-content>